PII_DB_URL_KZ=postgres://postgres:admin@piidb:5432/postgres
CLINICAL_DB_URL_KZ=postgres://postgres:admin@clinicaldb:5432/postgres
MASTER_DB_URL=postgres://postgres:admin@masterdb:5432/postgres
NODE_ENV=development
PORT=3003

TWILIO_ACCOUNT_SID=
TWILIO_API_SID=
TWILIO_API_SECRET=
TWILIO_AUTH_TOKEN=
